
body {
    background-color: black;
    font-family: impact;
}



.listings {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    max-width: 1200px; 
    margin: auto;
    padding-top : 100px;
    padding-bottom : 100px;
}
.item {
    background-color: #52397b;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    width: 100%; 
    text-align: center;
    transition: transform 0.2s;
}

.item:hover {
    transform: scale(1.1);
}

.item img {
    width: 100%; 
    max-height: 500px; 
    object-fit: cover;
}


.item p {
    margin: 5px;
}


.item h5 {
    font-size: 40px;
    margin: 10px 0;
    color: #f6734a;
    text-decoration: none;
}